.button_common {
    background-color: #33b27b;
    color: white;
    padding: 10px 30px;
    border: none;
    display: block;
    border-radius: 10px;
    margin: 0rem;
    margin-top: .5rem;
    width: 110%;
    font-size: .8375rem;
    font-weight: 700;
    border: none;
    text-align: center;
    text-decoration: none;
}
.error {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 16px;
    padding: 2px 1rem;
}
